body {
	background: lightblue;
}

h1 {
	text-align: center;
	color: red;
}

.gamediv {
	margin: auto;
	border: 1px solid #000000;
	background: black;
	width: 315px;
	height: 315px;
	display: inline;
	border: 2px solid blue;
}

.bottomspace {
	margin-bottom: 30px;
}

.center {
	display: block;
	margin: auto;
}
