body {
	background: lightblue;
}

h1 {
	text-align: center;
	color: red;
}

.gamediv {
	margin: auto;
	background: darkgreen;
	width: 315px;
	height: 315px;
	display: inline;
	border: 2px solid red;
}

.bottomspace {
	margin-bottom: 30px;
}

.center {
	display: block;
	margin: auto;
}
