body {
	background: lightblue;
}

h1 {
	text-align: center;
	color: red;
}

.gamediv {
	margin: auto;
	background: darkgreen;
	width: 315px;
	height: 315px;
	display: inline;
	border: 2px solid red;
}

.bottomspace {
	margin-bottom: 30px;
}

.center {
	display: block;
	margin: auto;
}

.statedump {
	position: absolute;
	border: solid 2px black;
	left: 10px;
	top: 100px;
	height:300px;
	width:200px;
	background-color: white;
	font-family: "Courier New", Courier, monospace;
}